.createtask{
    /* background-color:rgb(255, 255, 255) ; */
    width: 100%;
    height: 5vmax;


}

.createtaskcontainer{
    padding: 10px;
    width: 50%;
    margin: auto;
    text-align: center;
}